{% extends 'base.html' %}


{% block content %}


  <!-- Home -->
  <div class="w3-container" style="margin-top:45px" id="home">
    <h1 class="w3-jumbo"><b>Give me money. </b></h1>
    <h4 class="w3-xlarge"><b>Money me. Money now. Me a money needing a lot now. </b></h4>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="w3-container" style="margin-top:45px">
      <h1 class="w3-xxxlarge w3-text-red"><b>Home.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <p>
        Do you want to have fun, make friends, and learn new skills? Do you want to join a group of awesome people who share your interests 
        and passions? Do you want to be part of something bigger than yourself and make a difference in the world?</p>
      <p>
        If you answered yes to any of these questions, then you need to join the Paddy's Pub Gang!
        The Paddy's Pub Gang is a community of like-minded individuals who love hanging out at Paddy's Pub, the best bar in Philadelphia. 
        We are always looking for new members who are willing to participate in our crazy schemes, hilarious pranks, and wild adventures. 
        Whether you are into karate, musicals, bird law, or cheese, we have something for you!
      </p>
      <p>
        Joining the Paddy's Pub Gang is easy and free. All you have to do is fill out a simple form with your name and email. 
        You will then give me money. Lots of it, preferably.
        Giving me money enters you into our wild competition about who is going to give me the most money !
        Compete with your friends, maybe make some new ones and see who can give me the most money !
      </p>
      <p>
        Don't miss this opportunity to become part of the coolest gang in town. 
        Join the Paddy's Pub Gang today and get ready for the time of your life! Click the button below and pay up now!
      </p>
      <div class="w3-container w3-margin-left">
      <a href="/form" onclick="w3_close()" class="w3-button w3-block w3-padding-large w3-red w3-margin" style="width:40%">Money me.</a>
      </div>
    </div>
  </div>


{% endblock %}